---
import { PublicBoardApp } from "@feeblo/public-feature-board";
import PublicBoardLayout from "../../layouts/PublicBoardLayout.astro";

export const prerender = false;

const { subdomain, site } = Astro.locals;

if (!subdomain) {
  throw new Error("Subdomain is required");
}

if (!site) {
  return new Response("Site not found", { status: 404 });
}
---

<PublicBoardLayout
  organizationId={site.organizationId}
  title={`Public Board${subdomain ? ` - ${subdomain}` : ""}`}
>
  <main>
    <PublicBoardApp client:only="react" site={site} />
  </main>
</PublicBoardLayout>
