@import "tailwindcss" source(none);
@import "@feeblo/web-shared/styles.css";

@source "../**/*.{ts,tsx}";

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-gradient {
  animation: gradient 3s linear infinite;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
