@import "tailwindcss";
@import "tw-animate-css";

@plugin "@egoist/tailwindcss-icons";

@source "../**/*.{ts,tsx,js,jsx,astro}";
@source "../../../../packages/ui/src/**/*.{ts,tsx}";
@source "../../../../packages/post-ui/src/**/*.{ts,tsx}";
@source "../../../public-feature-board/src/**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --animate-skeleton: skeleton 2s -1s infinite linear;
  --animate-caret-blink: 1s ease-out infinite caret-blink;
  --animate-toast-success-odd: toast-success-odd 0.32s
    cubic-bezier(0.5, 1, 0.89, 1);
  --animate-toast-success-even: toast-success-even 0.32s
    cubic-bezier(0.5, 1, 0.89, 1);
  --animate-toast-error-odd: toast-error-odd 0.28s cubic-bezier(0.5, 1, 0.89, 1);
  --animate-toast-error-even: toast-error-even 0.28s
    cubic-bezier(0.5, 1, 0.89, 1);
  --font-heading: var(--font-inter, sans-serif);
  --font-mono: var(--font-geist-mono, monospace);
  --font-sans: var(--font-inter, sans-serif);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar: var(--sidebar);
  --color-code-highlight: var(--code-highlight);
  --code-foreground: var(--code-foreground);
  --color-code: var(--code);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-ring: var(--ring);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-input: var(--input);
  --color-foreground: var(--foreground);
  --color-destructive: var(--destructive);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-border: var(--border);
  --color-background: var(--background);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning: var(--warning);
  --color-success-foreground: var(--success-foreground);
  --color-success: var(--success);
  --color-info-foreground: var(--info-foreground);
  --color-info: var(--info);
  --color-destructive-foreground: var(--destructive-foreground);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  @keyframes skeleton {
    to {
      background-position: -200% 0;
    }
  }
  @keyframes caret-blink {
    0%,
    70%,
    to {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
  @keyframes toast-success-odd {
    0% {
      scale: 1;
    }
    30% {
      scale: 1.025;
    }
    60% {
      scale: 0.99;
    }
    100% {
      scale: 1;
    }
  }
  @keyframes toast-error-odd {
    0% {
      translate: 0 0;
    }
    25% {
      translate: -3px 0;
    }
    50% {
      translate: 3px 0;
    }
    75% {
      translate: -3px 0;
    }
    100% {
      translate: 0 0;
    }
  }
  @keyframes toast-success-even {
    0% {
      scale: 1;
    }
    30% {
      scale: 1.025;
    }
    60% {
      scale: 0.99;
    }
    100% {
      scale: 1;
    }
  }
  @keyframes toast-error-even {
    0% {
      translate: 0 0;
    }
    25% {
      translate: -3px 0;
    }
    50% {
      translate: 3px 0;
    }
    75% {
      translate: -3px 0;
    }
    100% {
      translate: 0 0;
    }
  }
}

:root {
  --destructive-foreground: var(--color-red-700);
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-700);
  --success: var(--color-emerald-500);
  --success-foreground: var(--color-emerald-700);
  --warning: var(--color-amber-500);
  --warning-foreground: var(--color-amber-700);
  --accent: --alpha(var(--color-black) / 4%);
  --accent-foreground: var(--color-neutral-800);
  --background: var(--color-white);
  --border: --alpha(var(--color-black) / 8%);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --destructive: var(--color-red-500);
  --foreground: var(--color-neutral-800);
  --input: --alpha(var(--color-black) / 10%);
  --muted: --alpha(var(--color-black) / 4%);
  --muted-foreground: color-mix(
    in srgb,
    var(--color-neutral-500) 90%,
    var(--color-black)
  );
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --primary: var(--color-neutral-800);
  --primary-foreground: var(--color-neutral-50);
  --ring: var(--color-neutral-400);
  --secondary: --alpha(var(--color-black) / 4%);
  --secondary-foreground: var(--color-neutral-800);
  --chart-1: var(--color-orange-600);
  --chart-2: var(--color-teal-600);
  --chart-3: var(--color-cyan-900);
  --chart-4: var(--color-amber-400);
  --chart-5: var(--color-amber-500);
  --code: var(--color-white);
  --code-foreground: var(--foreground);
  --code-highlight: --alpha(var(--color-black) / 4%);
  --radius: 0.625rem;
  --sidebar: var(--color-neutral-50);
  --sidebar-accent: --alpha(var(--color-black) / 4%);
  --sidebar-accent-foreground: var(--color-neutral-800);
  --sidebar-border: --alpha(var(--color-black) / 6%);
  --sidebar-foreground: color-mix(
    in srgb,
    var(--color-neutral-800) 64%,
    var(--sidebar)
  );
  --sidebar-primary: var(--color-neutral-800);
  --sidebar-primary-foreground: var(--color-neutral-50);
  --sidebar-ring: var(--color-neutral-400);
}

.dark {
  --destructive-foreground: var(--color-red-400);
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-400);
  --success: var(--color-emerald-500);
  --success-foreground: var(--color-emerald-400);
  --warning: var(--color-amber-500);
  --warning-foreground: var(--color-amber-400);
  --accent: --alpha(var(--color-white) / 4%);
  --accent-foreground: var(--color-neutral-100);
  --background: color-mix(
    in srgb,
    var(--color-neutral-950) 95%,
    var(--color-white)
  );
  --border: --alpha(var(--color-white) / 6%);
  --card: color-mix(in srgb, var(--background) 98%, var(--color-white));
  --card-foreground: var(--color-neutral-100);
  --destructive: color-mix(
    in srgb,
    var(--color-red-500) 90%,
    var(--color-white)
  );
  --foreground: var(--color-neutral-100);
  --input: --alpha(var(--color-white) / 8%);
  --muted: --alpha(var(--color-white) / 4%);
  --muted-foreground: color-mix(
    in srgb,
    var(--color-neutral-500) 90%,
    var(--color-white)
  );
  --popover: color-mix(in srgb, var(--background) 98%, var(--color-white));
  --popover-foreground: var(--color-neutral-100);
  --primary: var(--color-neutral-100);
  --primary-foreground: var(--color-neutral-800);
  --ring: var(--color-neutral-500);
  --secondary: --alpha(var(--color-white) / 4%);
  --secondary-foreground: var(--color-neutral-100);
  --chart-1: var(--color-blue-700);
  --chart-2: var(--color-emerald-500);
  --chart-3: var(--color-amber-500);
  --chart-4: var(--color-purple-500);
  --chart-5: var(--color-rose-500);
  --code: color-mix(in srgb, var(--background) 98%, var(--color-white));
  --code-foreground: var(--foreground);
  --code-highlight: --alpha(var(--color-white) / 4%);
  --sidebar: color-mix(
    in srgb,
    var(--color-neutral-950) 97%,
    var(--color-white)
  );
  --sidebar-accent: --alpha(var(--color-white) / 4%);
  --sidebar-accent-foreground: var(--color-neutral-100);
  --sidebar-border: --alpha(var(--color-white) / 5%);
  --sidebar-foreground: color-mix(
    in srgb,
    var(--color-neutral-100) 64%,
    var(--sidebar)
  );
  --sidebar-primary: var(--color-neutral-100);
  --sidebar-primary-foreground: var(--color-neutral-800);
  --sidebar-ring: var(--color-neutral-400);

  --primary-green: oklch(0.723 0.219 149.579);
  --primary-yellow: oklch(0.795 0.184 86.047);
  --primary-blue: oklch(0.623 0.214 259.815);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  code,
  kbd,
  samp,
  pre {
    font-family: var(--font-mono);
  }
  html {
    @apply font-sans font-mono;
  }
}

@layer base {
  .typography {
    max-width: 65ch;
    color: var(--color-foreground);

    & h1:not(.not-typography h1) {
      font-size: var(--text-4xl);
      font-weight: 800;
      line-height: var(--text-4xl--line-height);
      letter-spacing: var(--tracking-tight);
      scroll-margin: calc(var(--spacing) * 20);

      @media (min-width: 1024px) {
        font-size: var(--text-5xl);
        line-height: var(--text-5xl--line-height);
      }
    }

    & h2:not(.not-typography h2) {
      padding-bottom: calc(var(--spacing) * 2);
      margin-top: calc(var(--spacing) * 12);
      font-size: var(--text-3xl);
      font-weight: 600;
      line-height: var(--text-3xl--line-height);
      letter-spacing: var(--tracking-tight);
      scroll-margin: calc(var(--spacing) * 20);
      border-bottom: 1px solid var(--color-border);

      &:first-child {
        margin-top: 0;
      }
    }

    & h3:not(.not-typography h3) {
      margin-top: calc(var(--spacing) * 12);
      font-size: var(--text-2xl);
      font-weight: 600;
      line-height: var(--text-2xl--line-height);
      letter-spacing: var(--tracking-tight);
      scroll-margin: calc(var(--spacing) * 20);

      &:first-child {
        margin-top: 0;
      }
    }

    & h4:not(.not-typography h4) {
      margin-top: calc(var(--spacing) * 12);
      font-size: var(--text-xl);
      font-weight: 600;
      line-height: var(--text-xl--line-height);
      letter-spacing: var(--tracking-tight);
      scroll-margin: calc(var(--spacing) * 20);

      &:first-child {
        margin-top: 0;
      }
    }

    & h5:not(.not-typography h5) {
      margin-top: calc(var(--spacing) * 12);
      font-size: var(--text-lg);
      font-weight: 600;
      line-height: var(--text-lg--line-height);
      letter-spacing: var(--tracking-tight);
      scroll-margin: calc(var(--spacing) * 20);

      &:first-child {
        margin-top: 0;
      }
    }

    & h6:not(.not-typography h6) {
      margin-top: calc(var(--spacing) * 12);
      font-size: var(--text-base);
      font-weight: 600;
      line-height: var(--text-base--line-height);
      letter-spacing: var(--tracking-tight);
      scroll-margin: calc(var(--spacing) * 20);

      &:first-child {
        margin-top: 0;
      }
    }

    & h1:not(.not-typography h1),
    & h2:not(.not-typography h2),
    & h3:not(.not-typography h3),
    & h4:not(.not-typography h4),
    & h5:not(.not-typography h5),
    & h6:not(.not-typography h6) {
      & + p {
        margin-top: 0;
      }
    }

    & p:not(.not-typography p) {
      line-height: 1.75;

      &:not(:first-child) {
        margin-top: calc(var(--spacing) * 6);
      }
    }

    & li:not(.not-typography li) {
      line-height: 1.75;
    }

    & a:not(.not-typography a) {
      font-weight: 500;
      color: var(--color-primary);
      text-decoration: underline;
      text-underline-offset: var(--spacing);
    }

    & blockquote:not(.not-typography blockquote) {
      padding-left: calc(var(--spacing) * 6);
      margin-top: calc(var(--spacing) * 6);
      font-style: italic;
      border-left: 2px solid var(--color-border);
    }

    & table:not(.not-typography table) {
      width: 100%;
      margin-top: calc(var(--spacing) * 6);
      margin-bottom: calc(var(--spacing) * 6);
      overflow-y: auto;

      & thead tr {
        padding: 0;
        margin: 0;
        border-top: 1px solid var(--color-border);

        &:nth-child(even) {
          background-color: var(--color-muted);
        }
      }

      & th {
        padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
        font-weight: 700;
        text-align: left;
        border: 1px solid var(--color-border);

        &[align="center"] {
          text-align: center;
        }

        &[align="right"] {
          text-align: right;
        }
      }

      & tbody tr {
        padding: 0;
        margin: 0;
        border-top: 1px solid var(--color-border);

        &:nth-child(even) {
          background-color: var(--color-muted);
        }
      }

      & td {
        padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
        text-align: left;
        border: 1px solid var(--color-border);

        &[align="center"] {
          text-align: center;
        }

        &[align="right"] {
          text-align: right;
        }
      }
    }

    & ul:not(.not-typography ul) {
      margin-top: calc(var(--spacing) * 6);
      margin-left: calc(var(--spacing) * 6);
      list-style: disc;

      & > li {
        margin-top: calc(var(--spacing) * 2);
      }

      & p {
        display: inline;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    & ol:not(.not-typography ol) {
      margin-top: calc(var(--spacing) * 6);
      margin-left: calc(var(--spacing) * 6);
      list-style: decimal;

      & > li {
        margin-top: calc(var(--spacing) * 2);
      }

      & p {
        display: inline;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    & pre:not(.not-typography pre) {
      padding: calc(var(--spacing) * 4);
      margin-top: calc(var(--spacing) * 6);
      margin-bottom: calc(var(--spacing) * 6);
      overflow-y: auto;
      font-size: var(--text-sm);
      line-height: var(--text-sm--line-height);
      background-color: var(--color-muted);
      border-radius: calc(var(--radius) - 2px);
    }

    & code:not(pre code):not(.not-typography code) {
      position: relative;
      padding: calc(var(--spacing) * 0.2) calc(var(--spacing) * 0.3);
      font-family: var(--font-mono);
      font-size: var(--text-sm);
      font-weight: 600;
      line-height: var(--text-sm--line-height);
      background-color: var(--color-muted);
      border-radius: var(--radius);
    }

    & .lead:not(.not-typography .lead) {
      font-size: var(--text-xl);
      line-height: var(--text-xl--line-height);
      color: var(--color-muted-foreground);
    }

    & .large:not(.not-typography .large) {
      font-size: var(--text-lg);
      font-weight: 600;
      line-height: var(--text-lg--line-height);
    }

    & .small:not(.not-typography .small) {
      font-size: var(--text-sm);
      font-weight: 500;
      line-height: var(--text-sm--line-height);
      line-height: 1;
    }

    & .muted:not(.not-typography .muted) {
      font-size: var(--text-sm);
      line-height: var(--text-sm--line-height);
      color: var(--color-muted-foreground);
    }

    & img:not(.not-typography img),
    & picture:not(.not-typography picture),
    & video:not(.not-typography video) {
      margin-top: calc(var(--spacing) * 6);
      margin-bottom: calc(var(--spacing) * 6);
    }

    & picture > img:not(.not-typography picture > img) {
      margin-top: 0;
      margin-bottom: 0;
    }

    & kbd:not(.not-typography kbd) {
      padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5);
      font-size: var(--text-xs);
      font-weight: 600;
      line-height: var(--text-xs--line-height);
      background-color: var(--color-muted);
      border-radius: calc(var(--radius) - 2px);
    }

    & hr {
      margin-top: calc(var(--spacing) * 10);
      margin-bottom: calc(var(--spacing) * 10);
    }

    & dl:not(.not-typography dl) {
      margin-top: calc(var(--spacing) * 6);
      margin-bottom: calc(var(--spacing) * 6);

      & dt {
        margin-top: calc(var(--spacing) * 6);
        font-weight: 600;
        letter-spacing: var(--tracking-tight);

        &:first-child {
          margin-top: 0;
        }
      }
    }

    & details:not(.not-typography details) {
      margin-top: calc(var(--spacing) * 6);

      & summary {
        margin-top: calc(var(--spacing) * 6);
        font-weight: 600;
        letter-spacing: var(--tracking-tight);
        cursor: pointer;
      }

      & p {
        &:first-of-type {
          margin-top: calc(var(--spacing) * 2);
        }
      }
    }

    & mark:not(.not-typography mark) {
      background-color: var(--color-yellow-300);
    }

    & small:not(.not-typography small) {
      font-size: var(--text-xs);
      line-height: var(--text-xs--line-height);
      line-height: 1;
    }
  }
}

.skeleton-loader {
  @apply animate-pulse bg-muted;
  background-image: none !important;
  background-clip: border-box !important;
  border: none !important;
  box-shadow: none !important;
  box-decoration-break: clone !important;
  color: transparent !important;
  outline: none !important;
  pointer-events: none !important;
  user-select: none !important;
  cursor: default !important;
}

.skeleton-loader:where([data-inline-skeleton]) {
  font-family: Arial, sans-serif !important;
  line-height: 0;
}

.skeleton-loader > *,
.skeleton-loader::after,
.skeleton-loader::before {
  visibility: hidden !important;
}
