---
interface Props {
  clientHintCheckScript?: string;
  noIndex?: boolean;
  title?: string;
}

const { clientHintCheckScript, noIndex, title = "feeblo" } = Astro.props;

import { Font } from "astro:assets";
---

<head>
  <meta charset="UTF-8" />
  {
    clientHintCheckScript && (
      <script set:html={clientHintCheckScript} is:inline />
    )
  }
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <Font cssVariable="--font-inter" preload />
  {
    noIndex && <meta name="robots" content="noindex" />
  }
</head>
