---
import "@feeblo/feedback-widget/styles";
import CommonHead from "./CommonHead.astro";
import EnvScript from "./EnvScript.astro";

interface Props {
  organizationId: string;
  theme: string;
  title?: string;
}

const { title = "feeblo", organizationId, theme } = Astro.props;

const isDark = theme === "dark";
---

<!doctype html>
<html lang="en" data-theme={theme} class={isDark ? "dark" : ""}>
  <CommonHead title={title} />
  <EnvScript organizationId={organizationId} />
  <body>
    <slot />
  </body>
</html>
