---
import "../styles/global.css";

interface Props {
  title?: string;
}

const { title = "feeblo" } = Astro.props;

import { Font } from "astro:assets";
import CommonHead from "./CommonHead.astro";
---

<!doctype html>
<html lang="en">
  <CommonHead title={title} />
  <body>
    <slot />
  </body>
</html>
