---
import "@feeblo/public-board/styles.css";
import CommonHead from "./CommonHead.astro";

interface Props {
  title?: string;
}

const { title = "feeblo" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <CommonHead title={title} />
  <body>
    <slot />
  </body>
</html>
