---
import "../feature-board/styles/index.css";
import CommonHead from "./CommonHead.astro";

interface Props {
  organizationId: string;
  title?: string;
}

const { title = "feeblo", organizationId } = Astro.props;
---

<!doctype html>
<html lang="en">
  <CommonHead title={title} organizationId={organizationId} />
  <body>
    <slot />
  </body>
</html>
